.Astronomy {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2vh 0;

    section {
        &:first-child {
            width: 45%;
        }

        &:last-child {
            width: 55%;
        }
    }
}

.Astronomy-text {
    p {
        width: 70%;
        color: var(--main-col-text);
        font-family: var(--main-fam-text);
        font-size: 3vw;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
}

.Astronomy-list {
    display: flex;
    justify-content: flex-start;
    white-space: pre-line;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 23vw;
            margin-right: 1vw;

            ol {
                height: 80%;
                padding: 5%;
                box-shadow: 0px 20px 39px -12px rgba(99, 117, 124, 0.2);

                li {
                    width: 100%;

                    &:first-child {
                        width: 4vw;
                        height: 4vw;
                        border-radius: 1vw;
                        background-color: var(--main-bg-items);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;

                        img {
                            width: 60%;
                            height: 60%;
                        }
                    }

                    &:nth-child(2) {
                        color: var(--main-col-text);
                        font-family: var(--main-fam-text);
                        font-size: 2vw;
                        font-style: normal;
                        font-weight: 800;
                        // line-height: normal;
                    }

                    &:last-child {
                        color: #171e27;
                        font-family: var(--main-fam-text);
                        font-size: var(--main-size-text-norm);
                        font-style: normal;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.Astronomy-list-3 {
    ol {
        li {
            &:first-child {
                background-image: url(../assets/icons/Astronomy/Group135.svg);
                background-size: 120%;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 0.8vw;
            }
        }
    }
}

@media (max-width: 500px) {
    .Astronomy {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
    }

    .Astronomy-text {
        display: flex;
        align-self: flex-start;
        margin-right: 0;

        p {
            display: flex;
            font-size: 8.5vw;
            text-align: left;
        }
    }

    .Astronomy-list {
        width: 100%;

        ul {
            display: flex;
            width: 60vw;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-items: center;

            li {
                width: 100%;

                ol {
                    li {
                        width: 100%;

                        &:nth-child(1) {
                            width: 14vw;
                            height: 14vw;
                        }

                        &:nth-child(2) {
                            width: 100%;
                            font-size: 5vw;
                        }
                    }
                }
            }
        }
    }
}
