.Logotips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-child {
            li {
                background-size: 90%;
            }
        }

        li {
            width: 20vw;
            height: 15vh;
            display: flex;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.spacex {
    background-image: url(../assets/images/logotips/SpaceX.png);
    background-size: 130%;
    width: 25vw;
    margin-right: 0;
}

.nasa {
    background-image: url(../assets/images/logotips/NASA.png);
    background-size: 50%;
    width: 15vw;
}

.boeing {
    background-image: url(../assets/images/logotips/Boeing.png);
    margin-right: 3vw;
}

.astroscale {
    background-image: url(../assets/images/logotips/Astroscale.png);
}

@media (max-width: 700px) {
    .Logotips {
        flex-direction: column;

        ul {
            width: 90vw;
            justify-content: space-between;

            li {
                width: 40vw;
                height: 10vh;
            }
        }
    }

    .spacex {
        margin-left: 8vw;
    }

    .boeing {
        margin-left: 5vw;
    }
}
