:root {
    --hed-bg: #fff;
    --hed-bg-sing: #0d0f12;
    --hed-col-sing: #fff;
    --hed-col-text: #020305;
    --hed-fam-text: Plus Jakarta Sans;
    --hed-size-text-norm: 1.125em;
    --hed-size-text-midl: 1em;
    --foot-bg: #fff;
    --foot-bg-sing: #0d0f12;
    --foot-col-sing: #fff;
    --foot-col-text: #020305;
    --foot-fam-text: Plus Jakarta Sans;
    --foot-size-text-norm: 1em;
    --foot-size-text-midl: 0.8em;
    --main-bg: #fff;
    --main-bg-black: #020305;
    --main-col-white: #fff;
    --main-bg-sing: #0d0f12;
    --main-col-sing: #fff;
    --main-col-text: #020305;
    --main-fam-text: Plus Jakarta Sans;
    --main-size-text-norm: 1em;
    --main-size-text-midl: 0.8em;
    --main-bg-items: #a9c2cb;
}
